__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.coverage
htmlcov/

tmpvmdk_ufs_test/
tmp/
out/
dist/
build/

*.raw
*.img
*.iso
*.qcow2
*.vhd
*.vhdx

initramfs
lvmkey

*.record.vmdk
*.prewrite.vmdk
*.unlock.json

.DS_Store
Thumbs.db
